container/.dart_tool
shared/.dart_tool
shared/.packages
shared/.dart_tool/package_config.json
update-dcli.txt


shared/.dart_tool/package_config.json
shared/.packages
cli/bin/nginx-le

.bash_history
.vscode/
nginx-le.code-workspace
shared/.vscode/
.history
container/letsencrypt
cli/update.dcli.txt
shared/.vscode/launch.json
container/pubspec.yaml.bak
cli/pubspec.yaml.bak

container/test/src/util/mock_deploy_hook
container/test/src/util/settings.yaml
container/test/src/util/namecheap.yaml
container/.failed_tracker
container/.failed_tracker.bak
shared/.failed_tracker.bak
update-source.txt
cli/update-source.txt
